# -*- mode: sh; -*-
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
python_version=3.10.0
project_name=$(basename "$(pwd)")

layout virtualenvwrapper ${project_name}-${python_version}

# https://github.com/direnv/direnv/wiki/PS1
unset PS1
